doctype 
html
  block variables
    
  head
    block head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title #{title}
        link(rel="stylesheet" href="css/template.css")
  body
    block header
      header.header
        p some header content
        
    block main
      
    block footer
      footer.footer
        p some footer content
        
    block scripts
      script(src='libs/jquery/jquery.min.js')
      script(src='libs/slick/slick.min.js')
      script(src='libs/jquery.lazy/jquery.lazy.min.js')
      script(src='js/template.js') 