@import "bourbon";
@import "utilities/_functions";
@import "utilities/_mixins";
@import "utilities/_var";
@import "_fonts";
@import "_base.scss";
@import "layout/_layout-example";
@import "module/_module-example";

h1 {
  color: $mainColor;
  font-size: vw(30);
  font-family: "Helvetica Light";
  transition: width 1s ease;
  object-fit: cover;
  display: flex;
  transform: translate(20px);
}

h2 {
  font-family: "AGopt";
  font-weight: bold;
}

p {
  @include css-lock(10, 30, 320, 1280);
  font-family: "AGopt";
  font-weight: normal;
}
