@font-face {
  font-family: "AGopt";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/agopt/agopt-normal.eot?#iefix") format("embedded-opentype"), url("../fonts/agopt/agopt-normal.woff") format("woff"), url("../fonts/agopt/agopt-normal.ttf") format("truetype"); }

@font-face {
  font-family: "AGopt";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/agopt/agopt-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/agopt/agopt-bold.woff") format("woff"), url("../fonts/agopt/agopt-bold.ttf") format("truetype"); }

@font-face {
  font-family: "Helvetica Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/helvetica/HelveticaLightRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaLightRegular.woff") format("woff"), url("../fonts/helvetica/HelveticaLightRegular.ttf") format("truetype"); 
    
}