* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: vw(30);
  font-family: "Helvetica Light";
  transition: width 1s ease;
  object-fit: cover;
  display: flex;
  transform: translate(20px);
}

h2 {
  font-family: "AGopt";
  font-weight: bold;
  font-family: "AGopt";
  font-weight: normal;
}
